{block content}
<h1>Admin Page</h1>

<a n:href="Book:default" class="btn btn-primary">Přidat knihu</a>
<h1>Seznam knih</h1>
{control booksGrid}
<p>(<a n:href=":Front:Sign:out">Sign out</a>)</p>
{/block}
